<!-- <h1><a href="{%url 'insert'%}">insert</a></h1> -->
<!-- <h1><a href="{%url 'page'%}">Page</a></h1> -->
<!-- <h1><a href="{%url 'skills'%}">skills</a> </h1> -->
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/insert.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="ri-menu-fill"></i>
        </label>
        <label for="" class="logo">DesignX</label>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a class="active" href="{%url 'insert'%}">User</a></li>
            <li><a href="{%url 'skills'%}">Skills</a></li>
            <li><a href="">Skill</a></li>
            <li><a href="">Project</a></li>
        </ul>
    </nav>
    <div class="body">
    {% if need == 'user' %}
    <section class="container">
        <Header>Registration User</Header>
        <form action="" method="POST"class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input_box">
                <label for="">Full Name</label>
                <!-- <input type="text" name="" placeholder="Enter full name" id=""> -->
                {{userform.Name|attr:"placeholder:Enter full name"}}
            </div>
            <div class="input_box">
                <label for="">Job</label>
                <!-- <input type="text" name="" placeholder="Enter your job" id=""> -->
                {{userform.Job|attr:"placeholder:Enter your job"}}
            </div>
            <div class="column">
                <div class="input_box">
                    <label for="">Image</label>
                    <!-- <input type="file" name="" placeholder="Enter your job" id="img"> -->
                    {{userform.image|attr:"placeholder:Enter your image"}}
                </div>
                <div class="input_box">
                    <label for="">Years Work</label>
                    <!-- <input type="number" name="" placeholder="Enter your job" id=""> -->
                    {{userform.Years_work|attr:"placeholder:Years of Work"}}
                </div>
            </div>
            <div class="column">
                <div class="input_box">
                    <label for="">Completed Projects</label>
                    <!-- <input type="number" name="" placeholder="Enter your job" id=""> -->
                    {{userform.Completed_projects|attr:"placeholder:Completed Projects"}}
                </div>
                <div class="input_box">
                    <label for="">Satisfied Costomers</label>
                    <!-- <input type="number" name="" placeholder="Enter your job" id=""> -->
                    {{userform.Satisfied_costomers|attr:"placeholder:Satisfied costomers"}}
                </div>
            </div>
            <button>Insert</button>
            <div class="back">
                <a href="">
                    <i class="ri-arrow-left-s-line">Back to the first</i>
                </a>
            </div>
        </form>
    </section>
    {% else %}
    <section class="container">
        <header>Registration Category</header>
        <form action="" method="POST" class="form">
            {% csrf_token %}
            <div class="input_box">
                <label for="">Name Category</label>
                {{userform.Name}}
            </div>
            <button>Insert</button>
            <div class="back">
                <a href="">
                    <i class="ri-arrow-left-s-line">Back to the first</i>
                </a>
            </div>
        </form>
    </section>
    {% endif %}
    </div>
</body>
</html>


<!-- <form method="post" enctype="multipart/form-data" >
    <h1>Insert Page</h1>
    
    {{userform.Job|add_class:"css_class"}}
    <input type="submit" value="Insert">
</form> -->
    <!-- <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="job">Job:</label><br>
    <input type="text" id="job" name="job"><br>
    <label for="img">Image:</label><br>
    <input type="file" id="img" name="img"><br>
    <label for="years_work">Years Work:</label><br>
    <input type="text" id="years_work" name="years_work"><br>
    <label for="completed_projects">Completed Projects:</label><br>
    <input type="text" id="completed_projects" name="completed_projects"><br>
    <label for="satisfied_costomers">Satisfied Costomers:</label><br>
    <input type="text" id="satisfied_costomers" name="satisfied_costomers"><br> -->
