@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
    padding-bottom: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    background: rgb(130, 106, 251);
    /* padding: 20px; */
}
nav{
    top: 0px;
    background: #0082e6;
    height: 70px;
    width: 100%;
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 0 8px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 70px;
    margin-right: 40PX;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width:952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width:858px) {
    .body {
        padding: 15px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: +1;
    }
    nav ul li {
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover,li a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
   
}

/* code catds  */

.container {
    position: fixed;
    width: 100%;
    margin-top: -70px;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background: #efefef;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
}
.card{
    /* width: 320px; */
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
    /* margin-top: 70px; */
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #265df2;
}